/.idea/
.vscode/
*.iml
**/target/
/target/*
/.idea/*
/.idea/sonarlint/**
**/.DS_Store

adocs/*.html
!adocs/docinfo.html
adocs/*.pdf
adocs/plantuml/*.svg
adocs/plantuml/*.cache

*.apk
*.idsig
*.ipa
*.xcarchive
*.pcs
COPYRIGHT_HEADER
Jenkinsfile
*.Jenkinsfile
.gitlab
CI
*.ppcs
*.pcs
**/nginx.conf
**/.env
